{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> "Hello WCS"</h1>

    <a href="{{ path('blog_index') }}">
        Go to the articles page.
    </a>
</div>
{% endblock %}
